.videoContainer {
    text-align: center;
}
 
 .video {
     width: 100%;
     margin-top: -75px;
     overflow-y: hidden;
 }

 @media screen and (max-width: 1700px){
    .video {
        width: 110%;
    }
 }

 @media screen and (max-width: 1555px){
    .video {
        width: 120%;
    }
 }

 @media screen and (max-width: 1438px){
    .video {
        width: 150%;
        margin-right: 500px;
    }
 }

 @media screen and (max-width: 1438px){
    .video {
        width: 150%;
        margin-right: 1000px;
    }
 }

 @media screen and (max-width: 1142px){
    .video {
        width: 180%;
    }
 }

 @media screen and (max-width: 958px){
    .video {
        width: 230%;
    }
 }

 @media screen and (max-width: 754px){
    .video {
        width: 280%;
    }
 }

 @media screen and (max-width: 615px){
    .video {
        width: 340%;
    }
 }

 @media screen and (max-width: 500px){
    .video {
        width: 400%;
    }
 }

 
 @media screen and (max-width: 426px){
    .video {
        width: 450%;
    }
 }